.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000000;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;
  max-width: 800px;
  position: relative;
}

.b1,
.b2,
.b3,
.b4 {
  width: 100%;
  height: 50px;
}

.b1 {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: #084e58;
}

.b2 {
  background-color: #268b9f;
}

.b3 {
  background-color: #1a9289;
}

.b4 {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: #141d26;
}

.graph-container {
  width: 100%;
  padding: 20px;
  background-color: #282c34;
  border-radius: 20px;
  margin-top: 20px;
}

.custom-tooltip {
  background-color: #2a2a2a;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000000;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;
  max-width: 800px;
  position: relative;
}

.b1,
.b2,
.b3,
.b4 {
  width: 100%;
  height: 50px;
}

.b1 {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: #084e58;
}

.b2 {
  background-color: #268b9f;
}

.b3 {
  background-color: #1a9289;
}

.b4 {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: #141d26;
}

.graph-container {
  width: 100%;
  padding: 20px;
  background-color: #282c34;
  border-radius: 20px;
  margin-top: 20px;
}

.custom-tooltip {
  background-color: #2a2a2a;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
}
